NODE_ENV=development

# just a flag
ENV = 'development'

# Note that only NODE_ENV, BASE_URL, and variables that start with VUE_APP_ will be embedded into app's files.
VUE_APP_BASE_API=http://localhost:8080/api




